.DS_Store 
tmp/
**/__pycache__/
.vscode/
.pytest_cache/
**/__init__.py

*.zip
**/.terraform*
*.tfstate
*.tfstate.*
terraform.tfstate.d/
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
